*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(241, 176, 90);
    text-align: center;
}
  
.wrapper-flex {
    background-color: rgb(241, 176, 90);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
  }
  .square {
    height: 20px;
    width: 100px;
    margin: 5px;
    text-align: center;
  }
  